<div class='container'>

  <div class="row mt-3">
    <div class="col-lg-3">
      <h4 class="m-3" >編集ページ</h4>
    </div>
  </div>
  
  
    <%= form_with model:@post do |f| %>
    
    　   <div class="form-group">
          <label class="text-secondary">タイトル</label><br>
          <%= f.text_field :title, :size=>"60" %>
        </div>
        
    　   <div class="form-group">
          <label class="text-secondary">画像</label><br>
          <%= f.file_field :image, accept: "image/*" %>
        </div>
    　 
        <div class="form-group">
          <label class="text-secondary">投稿内容</label><br>
          <%= f.text_area :content, class: 'form-control',size: "20x10" %>
        </div>
          
        <div class="form-group">
          <label class="text-secondary">タグ (,で区切ると複数タグ登録できます)</label><br>
          <%= f.text_field :name, value: @tag_list, class:"form-control"%>
        </div>
      
        
      <div class="row mt-4">
        <div class="form-inline mx-auto">
           <%= button_to "削除", user_posts_path(current_user), method: :delete, "data-confirm" => "本当に削除しますか？" %>
          <% if @post.is_draft == true %>
            <%= f.submit "下書きを公開", :name => 'publicize_draft', class:'mr-5 btn btn-sm btn-warning' %>
            <%= f.submit "下書きを更新", :name => 'update_draft', class:'mr-5 btn btn-sm btn-outline-secondary' %>
          <% else %>
            <%= f.submit "投稿を更新", :name => 'update_post', class:'btn btn-sm btn-warning text-light' %>
          <% end %>
        </div>
      </div>
    
    <% end %>
  
</div>