<div class="notice"><%= flash[:notice] %></div>



<div class="container">
  <div class="row">
    <h4 class="m-5 col-md-2" >会員一覧</h4>
  </div>

  <table class='table table-hover table-inverse'>
    <thead class="table-light">
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <% @user.each_with_index do |user, i| %>
    <tbody>
      <tr>
        <td><%= i+1 %></td>
        <td><%= link_to user.name, admins_user_path(user.id) %></td>
        <td><%= user.email %></td>
        <td>
          <% if user.is_deleted == true %>
          <p class="text-secondary">退会</p>
          <% else %>
          <p class="text-success">有効</p>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <div class="pagination justify-content-center mt-2">
    <%= paginate @user %>
  </div>
</div>