
  
 <div class='container'>
 
  <div class="row">
    <div class="col-lg-4 mt-5">
      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "50x50", class:"mt-3 rounded-circle"; %>
      <% else %>
        <%= image_tag 'no_image_irasutoya', size: "50x50", class:"mt-3 rounded-circle"; %>
      <% end %>
      
      <%= link_to admin_user_path(@user.id), class: "text-dark" do %>
          <%= @user.nickname %><% end %>
    </div>
    
    <div class="col-lg-2 offset-lg-6 mt-5" >
      <%= link_to "この投稿を削除する", admin_post_path(@post), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %>
    </div>
  </div>
   <div class="row mt-5">
    <div class="col-lg-5" > 
     <div class="swiper">
        <div class="swiper-wrapper">
           <div class="swiper-slide">
            <% if @post.image.attached? %>
              <%= image_tag @post.image, size: "420x420", class: 'd-block mx-auto img-fluid' %>
            <% else %>
              <%= image_tag 'no_image_irasutoya', size: "420x420", class: 'd-block mx-auto img-fluid' %>
            <% end %>
           </div>
            <% if @post.addition_images.attached? %>
              <% @post.addition_images.each do |addition_images| %>
               <div class="swiper-slide">
                <%= image_tag addition_images, size: "420x420", class: 'd-block mx-auto img-fluid' %>
               </div>
              <% end %>
            <% end %>
        </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
      </div>
           <table class="table mt-3"> 
        <% @post.comments.each do |comment| %>
         <tr>
          <td>
            <% if comment.user.profile_image.attached? %>
             <%= image_tag comment.user.profile_image, size: "50x50", class:"mt-3 rounded-circle"; %>
            <% else %>
             <%= image_tag 'no_image_irasutoya', size: "50x50", class:"mt-3 rounded-circle"; %>
            <% end %>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div>
                <%= comment.user.name %>
                <small><%= comment.created_at.strftime('%Y/%m/%d') %></small>
              </div>
              <div>
                <%= comment.comment %>
              </div>
          </td>
          <td>
            <%= link_to "コメント削除", admin_post_comment_path(comment.post.id, comment.id), method: :delete,
                      class: "btn btn-sm btn-danger", "data-confirm" => "本当に削除しますか？" %>
          </td>
         </tr>    
        <% end %>
      </table> 
    </div>
     <div class="col-lg-7 p-5" >
      <h4>【<%= @post.title %>】</h4>
      <div>
        <% @post_tags.each do |tag| %>
          <i class="fa-sharp fa-solid fa-tag"> <%= tag.name %></i>
        <% end %>
      </div>
      <p><%= h(@post.content).gsub(/\n|\r|\r\n/, "<br>").html_safe %></p>
    </div>
    
  </div> 
</div>
    

<script>
  const swiper = new Swiper('.swiper', {
    //オプションの設定
    loop: true,
   
    //ページネーション表示の設定
    pagination: { 
      el: '.swiper-pagination', //ページネーションの要素
    },
   
    //ナビゲーションボタン（矢印）表示の設定
    navigation: { 
      nextEl: '.swiper-button-next', //「次へボタン」要素の指定
      prevEl: '.swiper-button-prev', //「前へボタン」要素の指定
    }
  });
</script>